*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body{
  text-align: center;
  font-size: 30px;
  background-color: rgb(78, 173, 219);
}
.home_container{
  text-align: center;
  padding: 20px;
}
.elem{
  color: rgb(128, 35, 34);
}
